@import url("https://fonts.googleapis.com/css2?family=Emblema+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --heading-h5-lead: "DM Sans";
  --font-el-messiri: "El Messiri";
  --font-emblema-one: "Emblema One";
  --m3-headline-large: Roboto;
  --font-raleway: Raleway;
  --font-inter: Inter;
  --font-istok-web: "Istok Web";
  --font-poppins: Poppins;

  /* font sizes */
  --buttons-big-size: 20px;
  --m3-title-medium-size: 16px;
  --heading-h5-lead-size: 22px;
  --font-size-lg: 18px;
  --font-size-21xl: 40px;
  --m3-headline-small-size: 24px;
  --m3-headline-large-size: 32px;
  --heading-h2-header-size: 58px;
  --font-size-27xl: 46px;
  --font-size-46xl: 65px;
  --font-size-20xl: 39px;
  --font-size-33xl: 52px;
  --font-size-61xl: 80px;
  --font-size-11xl: 30px;
  --font-size-29xl-4: 48.4px;
  --font-size-10xl: 29px;
  --font-size-base-4: 15.4px;
  --font-size-mid-9: 17.9px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-2xl-7: 21.7px;
  --font-size-mid: 17px;
  --font-size-3xs: 10px;
  --m3-display-large-size: 57px;
  --font-size-31xl: 50px;

  /* Colors */
  --background-dark: #2f1893;
  --colors-white: #fff;
  --action-third: #e93a7d;
  --color-gray-100: #2a2a2a;
  --m3-sys-light-on-background: #1d1b20;
  --color-gray-200: #121212;
  --color-gray-300: #0b0b0b;
  --overlays-default: rgba(0, 0, 0, 0.2);
  --color-gray-400: rgba(0, 0, 0, 0.37);
  --color-gray-500: rgba(0, 0, 0, 0.4);
  --color-gray-600: rgba(255, 255, 255, 0.1);
  --color-gray-700: rgba(255, 255, 255, 0.4);
  --color-dimgray-100: #707070;
  --color-dimgray-200: #4c4a62;
  --color-gainsboro-100: #e3e3e3;
  --color-gainsboro-200: #d9d9d9;
  --color-lightgray-100: #cfd8dc;
  --color-mediumslateblue-100: #214ff0;
  --color-mediumslateblue-200: #214ef0;
  --color-black: #000;
  --schemes-primary-container: #eaddff;
  --color-snow: #fcf4f2;
  --schemes-tertiary-container: #ffd8e4;
  --color-fuchsia: #e931d6;

  /* Gaps */
  --gap-mini: 15px;
  --gap-11xl: 30px;
  --gap-lg: 18px;
  --gap-19xl: 38px;
  --gap-lgi: 19px;
  --gap-190xl: 209px;
  --gap-85xl: 104px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-xs-2: 11.2px;
  --gap-34xl-5: 53.5px;
  --gap-8xl: 27px;
  --gap-mini-9: 14.9px;
  --gap-xl: 20px;
  --gap-base-2: 15.2px;
  --gap-3xs: 10px;
  --gap-20xl: 39px;
  --gap-104xl: 123px;
  --gap-5xl: 24px;
  --gap-7xl-6: 26.6px;
  --gap-4xl-3: 23.3px;
  --gap-6xl-6: 25.6px;
  --gap-8xs: 5px;
  --gap-12xl: 31px;
  --gap-10xl: 29px;
  --gap-mini-2: 14.2px;
  --gap-8xs-6: 4.6px;
  --gap-mini-5: 14.5px;
  --gap-2xl: 21px;
  --gap-6xs: 7px;
  --gap-base: 16px;
  --gap-14xl: 33px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-10xs: 3px;
  --padding-30xl: 49px;
  --padding-25xl: 44px;
  --padding-11xs: 2px;
  --padding-3xl: 22px;
  --padding-5xl: 24px;
  --padding-lgi: 19px;
  --padding-10xl: 29px;
  --padding-72xl: 91px;
  --padding-5xs: 8px;
  --padding-8xs: 5px;
  --padding-145xl: 164px;
  --padding-243xl: 262px;
  --padding-34xl: 53px;
  --padding-151xl: 170px;
  --padding-7xl: 26px;
  --padding-91xl: 110px;
  --padding-160xl: 179px;
  --padding-97xl: 116px;
  --padding-30xl-3: 49.3px;
  --padding-9xs: 4px;
  --padding-34xl-7: 53.7px;
  --padding-base-7: 15.7px;
  --padding-40xl: 59px;
  --padding-base-3: 16.3px;
  --padding-5xs-7: 7.7px;
  --padding-12xs: 1px;
  --padding-6xl: 25px;
  --padding-9xl: 28px;
  --padding-99xl: 118px;
  --padding-mid: 17px;
  --padding-58xl: 77px;
  --padding-2xl: 21px;
  --padding-2xs: 11px;
  --padding-44xl: 63px;
  --padding-6xs: 7px;
  --padding-24xl: 43px;
  --padding-xs: 12px;
  --padding-mini: 15px;
  --padding-61xl: 80px;
  --padding-16xl: 35px;
  --padding-89xl: 108px;
  --padding-35xl: 54px;
  --padding-45xl: 64px;
  --padding-56xl: 75px;
  --padding-sm: 14px;
  --padding-55xl: 74px;
  --padding-4xs: 9px;
  --padding-15xl: 34px;
  --padding-lg: 18px;
  --padding-36xl: 55px;
  --padding-13xl: 32px;
  --padding-7xs: 6px;
  --padding-22xl: 41px;
  --padding-18xl: 37px;
  --padding-27xl: 46px;
  --padding-4xl: 23px;
  --padding-137xl: 156px;
  --padding-59xl: 78px;
  --padding-70xl: 89px;
  --padding-37xl: 56px;
  --padding-29xl: 48px;
  --padding-20xl: 39px;
  --padding-28xl: 47px;

  /* Border radiuses */
  --br-81xl: 100px;
  --br-9xs: 4px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-22xl: 41px;
}
